{
  "plugins": [
    "vue",
    "prettier"
  ],

  "extends": [
    "airbnb-base/legacy", 
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true
  },
  "globals": {
    "jQuery": true,
    "eegle": true
  },
   "parserOptions": {
     "parser": "babel-eslint",
  },
  rules: {
    "prettier/prettier": "error",
    "vue/mustache-interpolation-spacing": "error",
    "vue/html-quotes": "error",
    "vue/html-indent": ["warn", 2],
    "max-len": ["error", 120]
  }
}
